*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{ /*вся секция*/
    background-color: #EEEFF1;
    padding: 100px 0; /*внутринние отступы нашего элемента*/
}
.form-wrapper{ /*наша обвертка*/
    width: 30%; /* ширину обвертки/на ширину блока=30% */
    margin: auto; /*автоматические отступы*/
}
.form-title{ /*заголовое блока*/
    font-size: 32px; /*размер текста*/
    text-align: center; /*сделали по центру*/
}
.form-descr{ /*обращаемся к тексту под заголовком*/
    color: #727272; /*цвет такста*/
    text-align: center;
    margin: 50px 0 65px; /*отступы 1-сверху, 2-справа\слева, 3-снизу*/
}
.form-control{ /*обращаемся к блокам почты и логина*/
    width: 50%; /*задали размер блоков*/
    display: flex; /*блоки в линию*/
    gap: 30px; /*отступы между друг-другом*/
    margin-bottom: 20px; /*отступ между блоками очты и логина*/
}
input[name="name"], input[name="email"], textarea { /*обратились к импутам с именем name и email*/
    padding: 20px; /*добовляем внутр отступы*/
    border: none; /*убераем границу*/
    outline: none; /*граница по нажатию*/
}
textarea{
    width: 100%; /*обратились отдельно к блоку текста комментов и выставили площадь на 100%*/
    margin-bottom: 50px; /*оступ до книпки снизу*/
}
input[type="submit"]{ /*обратились к нашей осн кнопке*/
    display: block; /*начнет занимать все ширину*/
    margin: auto; /*оступы авто*/
    background-color: #34547A;
    padding: 20px 45px; /*отступы у текста*/
    color: white;
    text-transform: uppercase; /*все буквы большие "в верхнем регистре"*/
    border: none; /*сброс границ*/
    outline: none; /*сброс границ при клике*/
}

/*MY SKILLS*/

.skills{ /*посмотрели в макете отступы для осн.блока и добавили  в стиле*/
    padding: 100px 0;
    background-color: white;
}
.skills-wrapper{ /*ширина нашего блока со скилами - берем ширину блока/на ширину блока внутри=60%*/
    width: 60%; /*задали ширину блока относительно осн серкции*/
    margin: auto; /*выставили блок по центру*/
    display: flex; /*добавили флекс, чтобы выставить картинку справа и навыки слева*/
    justify-content: space-between; /*сделали картинку справа*/
    align-items: center; /*управ вертикальным положением, стал по центру*/
}
.skills-info{ 
    width: 40%; /*занимает площади блок скилс*/
}
.skills-title{
    font-size: 32px;
    margin-bottom: 50px; /*отступ заголовка от скилов*/
}
.skills-item{ /*отступ между блоками скиллс*/
    margin-bottom: 30px; 
}
.skill-name{ /*название скила*/
    color: #727272; /*цвет*/
    margin-bottom: 20px; /*отступ текста от шкалы*/
}
.skill-scale{ /*шкала*/
    height: 4px; /*ширина шкалы*/
    background-color: #C4C4C4; /*цвет шкалы*/
}
.skill-scale-inner1{
    width: 80%; /*длина шкалы*/
    height: 4px; /*ширина внутренней шкалы*/
    background-color: #34547A; /*цвет шкалы*/
}
.skill-scale-inner2{
    width: 60%; /*длина шкалы*/
    height: 4px; /*ширина внутренней шкалы*/
    background-color: #34547A; /*цвет шкалы*/
}
.skill-scale-inner3{
    width: 90%; /*длина шкалы*/
    height: 4px; /*ширина внутренней шкалы*/
    background-color: #34547A; /*цвет шкалы*/
}
.skills-img{ 
    width: 50%; /*занимает площади блок картинка*/
}

/*HOW DO I WORD?*/

.process{ /*общий блок*/
    background-color: #EEEFF1;
    padding: 100px 0; /*отступ внутри блока снизу\сверху и по бокам*/
}
.process-wrapper{ /*добовляем значения к обвертке внутри блока*/
    width: 60%; /*размер по отношению к осн блоку*/
    margin: auto; /*выставляет блок по центру*/
}
.process-title{ /*обращаемся к нашему заголовку*/
    font-size: 32px; /*размер шрифта*/
    text-align: center; /*текст по центру*/
}
.process-descr{
    width: 50%; /*разместили текст на 50% нашего блока*/
    color: #727272;
    margin: 50px auto 60px; /*выставили отступы снаружи 50-высота, авто-бока,60-низ*/
    text-align: center; /*разместили текст по центру*/
}
iframe{ /*блок нашего видео*/
    width: 100%; /*выставили по всю ширину нашей обвертки*/
    aspect-ratio: 16/9; /*соотношение сторон видео*/
}

/*МОЗАЙКА С КАРТИНКАМИ*/

.projects{ /*обратились ко всему блоку*/
    display: flex; /*расположили в одну строку*/
    flex-wrap: wrap; /*выставили в две строки, если элементу не хватает места, он переходит в другую строку*/
}
.projects-item { /*наши все картинки*/
    width: 25%; /*размер картинок*/
    aspect-ratio: 1/1; /*соотношение картинок*/
    background-size: contain; /*это свойство позволяет картинке не маштабироваться*/
}
.sticker{ /*чтобы наши свойства не применялись на эти картинки,вынесли отдельно*/
    background-image: url(./images/sticker.png);
}
.laptop{ /*чтобы наши свойства не применялись на эти картинки,вынесли отдельно*/
    background-image: url(./images/laptop.png);
}
.projects-item-inner { /*див с нашим прозрачным фоном*/
    height: 100%;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
    opacity: 0; /*прозрачность, 0-полностью прозрачный, 1-непрозрачный*/
    display: flex; /*позволяет применять нижние свойства*/
    justify-content: center; /*по центру по горизонтали*/
    align-items: center; /*по центру по вертикале*/
}
.projects-item-inner:hover { /*отвечает за наведение*/
    opacity: 1; /*не прозрачный*/
}



/*
    1920 - ширина макета
    1111 - ширина врапера


    1920/1111 * 100% = 60% - ширина нашей обвертки

    пропорция для картинки и блока навыков::

    430пх - это блока скилс
    536пх - это блок картинки

    430\1111(общий блок) * 100% = 40% занимает площади блок скилс
    536пх\1111 * 100% = 50% занимает общей площади блока картинка



*/ 